.f-bottom-sheet.pando-lots-modal__container--app {
  height: 90vh;
  position: fixed;
  width: 400px !important;
  top: 32px !important;
  bottom: 32px !important;
  right: 32px !important;
  left: initial !important;
}

.f-bottom-sheet.pando-lots-modal__container--ifream {
  height: 100%;
  width: 100%;
  max-height: 100% !important;
}

.v-dialog.f-bottom-sheet.pando-lots-modal__container {
  border: 1px solid #ebebeb;
  border-radius: 8px;
}
