.f-bottom-sheet.pando-lots-modal__container {
  position: fixed;
  width: 400px !important;
  top: 32px !important;
  bottom: 32px !important;
  right: 32px !important;
  left: initial !important;
}

.v-dialog.f-bottom-sheet.pando-lots-modal__container {
  height: 90vh;
}
